
/*Services */
#service,{
	width: 100%;
	padding: 40px 0;

}

#service h2{
	display: block;
	margin-bottom: 60px;
	font-size: 28px;
	line-height: 32px;
	font-weight: 600;
	text-align: center;
	text-transform: uppercase;
}

#service h2 small{
	display: block;
	margin-top: 10px;
	text-align: center;
	text-transform: uppercase;
	font-size: 14px;
	font-weight: 400;
}

.service-container{
	display: block;
	margin-bottom: 20px;
}

.service-container:hover > .service-icon a{
	-webkit-box-shadow: 0 0 0 5px #101010;
	   -moz-box-shadow: 0 0 0 5px #101010;
		-ms-box-shadow: 0 0 0 5px #101010;
		 -o-box-shadow: 0 0 0 5px #101010;
			box-shadow: 0 0 0 5px #101010;
}

.service-icon{
	display: block;
	margin-bottom: 20px;
}

.service-icon a{
	position: relative;
	display: block;
	width: 150px;
	height: 150px;
	margin-left: auto;
	margin-right: auto;
	background: #101010;
	border: 8px solid #fff;
	-webkit-border-radius: 100%;
	   -moz-border-radius: 100%;
		-ms-border-radius: 100%;
		 -o-border-radius: 100%;
			border-radius: 100%;
}

.service-icon a > i{
	position: absolute;
	left: 50%;
	top: 50%;
	width: 45px;
	height: 45px;
	margin-left: -22px;
	margin-top: -22px;
	font-size: 45px;
	color: #fff;
	text-align: center;
	vertical-align: middle;
}

.service-content{
	text-align: center;
}

.service-content h3{
	font-size: 16px;
	line-height: 20px;
	margin-bottom: 15px;
	font-weight: 600;
	text-transform: uppercase;
}

/*Footer */
.subfooter {
  background-color: #f5f5f5;
  padding: 25px 0;
  border-top: 1px solid #eaeaea;
}

.subfooter {
  font-size: 14px;
  line-height: 1.3;
  color: #999;
}

@media (min-width: 992px) {
.subfooter {
  text-align: left;
}
}

ul.footermenu {
  list-style: none;
  margin-top: 10px;
}

ul.footermenu li {
  float: left;
  margin-left: 5px;
  margin-right: 5px;
  text-transform: uppercase;
  line-height: 33px;
}

ul.footermenu li a {
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  color: #101010;
  font-size: 11px;
}

.copyright p {
  margin-left: 10px;
  margin-top: 20px;
}


ul.social {
  list-style: none;
  margin-top: 10px;
}

ul.social li a {
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  color: #101010;
  font-size: 20px;
  padding-right: 5px;
}

ul.social li {
  float: left;
  margin-left: 5px;
  margin-right: 5px;
  text-transform: uppercase;
  line-height: 33px;
}

.jumbotron {
  background: url(../img/pattern.png) #4F4343;
  margin-bottom: 0;
  border-bottom: 0;
  padding-top: 120px;
  padding-bottom: 350px;
  border-radius: 0;
  text-align: center;
  color: #fcf1de;
  font-size: 175%;
}

.jumbotronwidth
{
max-width:100%;
}

.copyright {
  margin-left: 45px;
  margin-top: 15px;
}
.contact{
margin-top: 100px;
}

.error { 
color: #f00; 
}

.success { 
color: #060; 
}

#map-canvas{
background-color: rgb(229, 227, 223);
width: 400px;
height: 250px;
}