
/*Services */
#service{
	width: 100%;
	padding: 40px 0;

}

#service h2{
	display: block;
	margin-bottom: 60px;
	font-size: 28px;
	line-height: 32px;
	font-weight: 600;
	text-align: center;
	text-transform: uppercase;
}

#service h2 small{
	display: block;
	margin-top: 10px;
	text-align: center;
	text-transform: uppercase;
	font-size: 14px;
	font-weight: 400;
}

.service-container{
	display: block;
	margin-bottom: 20px;
}

.service-container:hover > .service-icon a{
	-webkit-box-shadow: 0 0 0 5px #101010;
	   -moz-box-shadow: 0 0 0 5px #101010;
		-ms-box-shadow: 0 0 0 5px #101010;
		 -o-box-shadow: 0 0 0 5px #101010;
			box-shadow: 0 0 0 5px #101010;
}

.service-icon{
	display: block;
	margin-bottom: 20px;
}

.service-icon a{
	position: relative;
	display: block;
	width: 150px;
	height: 150px;
	margin-left: auto;
	margin-right: auto;
	background: #101010;
	border: 8px solid #fff;
	-webkit-border-radius: 100%;
	   -moz-border-radius: 100%;
		-ms-border-radius: 100%;
		 -o-border-radius: 100%;
			border-radius: 100%;
}

.service-icon a > i{
	position: absolute;
	left: 50%;
	top: 50%;
	width: 45px;
	height: 45px;
	margin-left: -22px;
	margin-top: -22px;
	font-size: 45px;
	color: #fff;
	text-align: center;
	vertical-align: middle;
}

.service-content{
	text-align: center;
}

.service-content h3{
	font-size: 16px;
	line-height: 20px;
	margin-bottom: 15px;
	font-weight: 600;
	text-transform: uppercase;
}